<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login/user" method="POST">
    {{#if message}}
    <div>
        {{message}}
    </div>
    {{/if}}
        <label for="email">Your email:</label>
        <br/>
        <input type="email" name="email" id="email">
        <br/>
        <label for="password">Your password:</label>
        <br/>
        <input type="password" name="password" id="password">
        <br/>
        <br/>
        <button type="submit">Login</button>
    </form>
    <a href="/login/forgot-password">Forgot password</a>
</body>
</html>